{% extends 'registration/base.html' %}
{% load materializecss %}
{% load crispy_forms_tags %}

{% block head %}

<head>
    <title>Detect Registration Number</title>
</head>
{% endblock head %}

{% block body %}
<style>
    .top-space {
        margin-top: 100px;
    }
</style>

<body>
    <div class="container row z-depth-5">
        <div class="card">
            <form class="center container" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | materializecss }}

                <button class="btn waves-effect waves-light top-space green" type="submit"><i
                        class="large material-icons">upload</i> Upload</button>
            </form>
        </div>
    </div>
</body>

{% endblock body %}
